@tailwind base;
@tailwind components;
@tailwind utilities;

.menu::after {
  content: '';
  height: 4px;
  width: 4px;
  border-radius: 100%;
  background: #a5f3fc;
  position: absolute;
  left: -0.55rem;
  top: 50%;
}
