@tailwind base;
@tailwind components;
@tailwind utilities;

.menu::after {
  content: '';
  height: 4px;
  width: 4px;
  border-radius: 100%;
  background: #a5f3fc;
  position: absolute;
  left: -0.55rem;
  top: 50%;
}

.text-gradient {
  background-image: linear-gradient(to right, #ff0000, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
